.feature{
    margin-bottom: 60px;
    background-color: $lightGrayishBlue;

    &__intro{
        @include breakpoint-up(large){
            width: 50%;
          }
    }

    &__grid{

        @include breakpoint-up(medium){
            display: flex;
            flex-wrap: wrap;
           }
    }

    &__item{
        padding: 0.9375rem;
        @include breakpoint-up(medium){
            flex: 1 0 50%;
          }
        @include breakpoint-up(large){
            flex: 1;
          }
    }

    &__icon{
        margin-bottom: 1.875rem;
        @include breakpoint-up(large){
            margin-bottom: 2.75rem;
          }
    }   

    &__title{
        margin-bottom: 1rem;
        font-size: 1.25rem;
        line-height: 1.5; 
        text-align: center;
        color: $darkBlue;

        @include breakpoint-up(medium){
            text-align: left;
          }

        @include breakpoint-up(large){
            margin-bottom: 1.5rem;
          }
    }

    &__description{
        margin-bottom: 2.1875rem;
        font-size: 0.875rem;
        line-height: 1.5;

        @include breakpoint-up(large){
            margin-bottom: 1.5625rem;
          }
    

    }
}